/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
    
}

nav li{
    float: right;
    width: 25%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
    
    
}


nav ul::after{
    content: "";
    display: table;
    clear: both;
    
}

nav a{
    display: inline-block; 
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 15px 15px;
}

nav a:hover{
    color: blue;
    border-top: 2px solid blue;
}

button{

    background-color: white;
    width: 173px;
    height: 49px;
    border-radius: 25px;
    font-family: 'Raleway';font-size: 17px;
    border: 2px;
    border-color: #D9D9D9;
    border-style: solid;
    font-size: 17px;
    font-weight: 700;
    margin-right: 15px;


}

button:hover{
    background-color: #DEEBFF;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.header-logo-menu {
    display: flex;
    
}


.logo{

    width: 61.09px ;
    height: 19px ;
    padding: 10%;

}

.box{

    
    display: flex;
    padding-top: 30px;
    ;

    
    
}


.menu {
    display: inline;
    padding-left: 1000px ;
}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;   
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.button-reserch{
    background-color: white;
    width: 377px;
    height: 49px;
    border-radius: 25px;
    font-family: 'Raleway';font-size: 17px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

a.hover.reserch{
    color:#DEEBFF;
   
}   

.reserch {
   
    background-color: #0065FC;
    border-color: #0065FC;
    border-radius: 0px 25px 25px 0px;
    width: 132px;
    height: 49px;
    color: white;
    padding: 15px, 16px, 15px, 16px;
    border: 1px;
}

.icon-local {

    background-color: #D9D9D9;
    border-radius: 25px 0px 0px 25px;
    width: 50px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

input{

    width:195px;
    height: 43px;
    
    
        
}


.circle{
    background:white;
    border-radius:50%;
    width:24px;
    height:24px;
    border:2px solid #D9D9D9; 
    text-align: center  ;
    font-family: 'Raleway';font-size: 17px; 
    margin-right: 15px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements .card {

    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-right: 15px;
}

.hebergements-title {

    display:flex;
    justify-content: space-between;
    vertical-align: middle;
}

.hebergements img{

    height: 207px; 
    width: 250px; 
    object-fit: fill; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
 .information{

    width: 890px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-top: 30px;
    

 }

.text{

    font-size: 19px;
    font-weight: 700;

}

footer{

    background-color: #F2F2F2;
    padding: 20px;
    gap: 15px;

}

.test{

    height: 100%;
    width: 100%;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}